.ff{
    height: 800vh;
}
.bgimg{
    background-image: url(https://images.unsplash.com/photo-1491403865995-cda9c458c314?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3ODcxNzYxNA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 0 15px;
    .logo{
        font-weight: 600;
        font-size: 20px;
    }
    .ul{
        display: inline-block;
         .li{
            display: inline;
            padding-left: 70px;
         }
         .a{            
           text-decoration: none;
           color: azure;
           transition: all 0.8s;
         }
         .a:hover{
            color: rgba(248, 218, 174, 0.69);
         }
        
    }
    

}

.title{
    text-align: center;
    padding-top: 150px;
    font-weight: 600;
    letter-spacing: 9px;
    font-size: 30px;
    color: azure;
}
.brown-bg{
    background-color: #2B1F21;
    height: 170vh;
    position: relative;
    z-index: 0;
}
.imgContainer{
    padding: 0 25px;
    position: absolute;
    z-index: 1;
    top: 42rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    left: 50px;

    .img{
        
        width: 680px;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
        
    }
}



.each{
    position: relative;
   /*  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #0000005c;
    border-radius: 15px;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    text-align: center;
}
.wraperr:hover .overlay{
    opacity: 0.8;
}

.img-container{
    position: relative;
    height: 300px;
    width: 50%;
    padding: 0 40px;
    
}
.image{
    background-image: url(../../public/hotelimg/pexels-max-rahubovskiy-6585752.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 170%;
    border-radius: .3em;
    background-position: center center;
}



.new-container{
    position: relative;
    height: 400px;
    width: 95%;
    
}


.photo{
    background-image: url(../../public/hotelimg/pexels-max-rahubovskiy-6585752.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: .3em;
    background-position: center center;
}
.photo2{
    background-image: url(../../public/hotelimg/pexels-jason-jansen-3653831.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: .3em;
    background-position: center center;
}
.photo3{
    background-image: url(../../public/hotelimg/pexels-jason-jansen-3653831.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: .3em;
    background-position: center center;
}
.photo4{
    background-image: url(../../public/hotelimg/pexels-jason-jansen-3653831.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: .3em;
    background-position: center center;
}
.photo5{
    background-image: url(../../public/hotelimg/pexels-max-rahubovskiy-6283960.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: .3em;
    background-position: center center;
}.photo6{
    background-image: url(../../public/hotelimg/pexels-max-rahubovskiy-5997965.jpg);
   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: .3em;
    background-position: center center;
}
 .photo7{
    background-image: url(../../public/hotelimg/pexels-jason-jansen-3653831.jpg);
   
    width: 680px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: .3em;
    background-position: center center;
}
.photo8{
    background-image: url(../../public/hotelimg/pexels-jason-jansen-3653831.jpg);
   
    width: 680px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: .3em;
    background-position: center center;
} 
